
body {
    background-color:slategray;
    font-family: Manrope, Arial, Helvetica, sans-serif;
  }
  
  main {
    width: 560px;
    height: 360px;
    margin: 0 auto;
    background-color:rgb(239, 249, 255);
    border-radius: 10px;
    margin-top: 100px;
    padding: 20px;
  }
  
  .icon {
    width: 23px;
    height: auto;
  }
  
  #titulo {
    text-align: center;
  }
  
  #get-info {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  
  input {
      display: block;
      margin: 0 auto;
      padding: 5px;
      margin-top: 10px;
      border-radius: 10px;
      border-color:rgb(224, 214, 224);
  }
  
  .input-button {
      background-color: rgb(7, 49, 7);
      color: white;
      padding: 5px 10px;
  }
  
  #display-message {
    text-align: center;
  }
  
  #display-key {
    text-align: center;
    font-size: 0.9em;
  }